body {
  margin: 0;
  font: 18px "Terminal Dosis", sans-serif;
  font-weight: 300;
  background-color: #95c7d0;
}

#main {
  background: #95c7d0 url("../img/body-back.jpg") no-repeat center top;
  color: #44666d;
  text-shadow: 1px 1px 0px rgba(255,255,255,0.2);
  width: 100%;
  padding: 50px 0 80px 0;
  border-bottom: 1px solid #bedbe2;
  background-attachment: fixed;
}

a {
  color: #44666d;
  text-decoration: none;
}

hr {
  background: transparent url("../img/hr.png") repeat-x center center;
  height: 2px;
  border: none;
  margin: 30px 0;
  clear: both;
}

strong {
  font-weight: 600;
}

#logo {
  width: 940px;
  height: 100px;
  background: transparent url("../img/logo.png") no-repeat center center;
  text-indent: -99999px;
  overflow: hidden;
  margin: 0px 0 30px 0;
}

#tagline {
  font-size: 36px;
  text-align: center;
  margin: 0px;
  font-weight: 300;
  color: #669ba5;
}

#tagline strong {
  color: #44666d;
  font-weight: 300;
}

h2, h3, h4, h5, h6 {
  margin: 1em 0 0.5em 0;
  color: #ebf5f7;
  text-shadow: -1px -1px 1px rgba(0,0,0,0.1);
  font-weight: 600;
}

.wrap {
  width: 940px;
  margin: 0 auto;
}

#content {
  width: 780px;
  float: left;
  position: relative;
}

.editor,
.results {
  background-image: linear-gradient(bottom, rgb(255,255,255) 100%, rgb(235,245,247) 80%);
  background-image: -o-linear-gradient(bottom, rgb(255,255,255) 100%, rgb(235,245,247) 80%);
  background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 100%, rgb(235,245,247) 80%);
  background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 100%, rgb(235,245,247) 80%);
  background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 100%, rgb(235,245,247) 80%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(1, rgb(255,255,255)),
    color-stop(0.8, rgb(235,245,247))
  );
  padding: 4px;
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.05);
  position: relative;
}

.results {
  margin-left: 20px;
}

.editor .tabs,
.results .tabs {
  padding: 0;
  height: 30px;
}

.editor .tabs a,
.results .tabs a {
  display: block;
  padding: 0 10px;
  float: left;
  height: 30px;
  line-height: 26px;
  text-shadow: none;
  font-size: 14px;
  font-weight: 600;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.editor .tabs a.active,
.results .tabs a.active {
  background-image: linear-gradient(bottom, rgb(219,228,230) 100%, rgba(235,245,247,0) 0%);
  background-image: -o-linear-gradient(bottom, rgb(219,228,230) 100%, rgba(235,245,247,0) 0%);
  background-image: -moz-linear-gradient(bottom, rgb(219,228,230) 100%, rgba(235,245,247,0) 0%);
  background-image: -webkit-linear-gradient(bottom, rgb(219,228,230) 100%, rgba(235,245,247,0) 0%);
  background-image: -ms-linear-gradient(bottom, rgb(219,228,230) 100%, rgba(235,245,247,0) 0%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(1, rgb(219,228,230)),
    color-stop(0, rgba(235,245,247,0))
  );
}

.editor.markup .plus {
  position: absolute;
  top: 41%;
  left: -20px;
  font-size: 40px;
}

.editor .arrow {
  position: absolute;
  bottom: -29px;
  margin-left: -7px;
  width: 15px;
  height: 22px;
  left: 50%;
  font-size: 40px;
  background: transparent url('../img/arrow-down.png') no-repeat left top;
  -webkit-transition: opacity 300ms linear;
}

textarea, pre {
  font-family: "Inconsolata", courier, monospace;
  font-size: 14px;
  display: block;
  width: 340px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

textarea {
  border: none;
  border-radius: 5px;
  box-shadow: inset 0px 2px 5px rgba(0,0,0,0.2);
  resize: none;
  background-image: linear-gradient(bottom, rgb(68,102,109) 100%, rgb(91,125,132) 0%);
  background-image: -o-linear-gradient(bottom, rgb(68,102,109) 100%, rgb(91,125,132) 0%);
  background-image: -moz-linear-gradient(bottom, rgb(68,102,109) 100%, rgb(91,125,132) 0%);
  background-image: -webkit-linear-gradient(bottom, rgb(68,102,109) 100%, rgb(91,125,132) 0%);
  background-image: -ms-linear-gradient(bottom, rgb(68,102,109) 100%, rgb(91,125,132) 0%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(1, rgb(68,102,109)),
    color-stop(0, rgb(91,125,132))
  );
  color: #ebf5f7;
  padding: 10px;
  margin: 0;
}

textarea:focus {
  -moz-outline: none;
  -webkit-outline: none;
  outline: none;
}

pre.prettyprint {
  /*
  background-image: linear-gradient(bottom, rgb(255,255,255) 100%, rgb(235,245,247) 0%);
  background-image: -o-linear-gradient(bottom, rgb(255,255,255) 100%, rgb(235,245,247) 0%);
  background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 100%, rgb(235,245,247) 0%);
  background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 100%, rgb(235,245,247) 0%);
  background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 100%, rgb(235,245,247) 0%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(1, rgb(255,255,255)),
    color-stop(0, rgb(235,245,247))
  );
  border: none;
  padding: 10px;
  border-radius: 10px;
  word-wrap: break-word;
  width: 350px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
  font-size: 12px;
  */
}

#result {
  /*
  background-image: linear-gradient(bottom, rgb(255,255,255) 100%, rgb(235,245,247) 0%);
  background-image: -o-linear-gradient(bottom, rgb(255,255,255) 100%, rgb(235,245,247) 0%);
  background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 100%, rgb(235,245,247) 0%);
  background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 100%, rgb(235,245,247) 0%);
  background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 100%, rgb(235,245,247) 0%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(1, rgb(255,255,255)),
    color-stop(0, rgb(235,245,247))
  );
  border: none;
  padding: 10px 10px 20px 10px;
  border-radius: 10px;
  word-wrap: break-word
  text-shadow: none;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
  font-size: 13px;
  font-family: "Helvetica Neue", "Helvetica", Arial, Sans-Serif;
  font-weight: normal;
  */
  margin: 10px;
}

#result table {
  border-collapse: collapse;
  width: 100%;
}

#result table th {
  text-align: left;
  padding: 3px 10px;
  border-bottom: 1px solid #bde2e9;
  border-right: 1px dotted #bde2e9;
}

#result table td {
  text-align: left;
  padding: 3px 10px;
  border-right: 1px dotted #bde2e9;
}

#result table th:last-child,
#result table td:last-child {
  border-right-width: 0px;
}

#result span {
  margin-right: 4px;
}

#source {
  display: none;
  margin: 10px;
  width: auto;
  border: none;
}

#error {
  clear: both;
  color: #a40027;
  padding: 10px 20px;
  min-height: 14px;
  line-height: 14px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  -webkit-transition: opacity 300ms linear;
}

.col {
  float: left;
  margin-left: 20px;
  width: 370px;
}

.aside {
  width: 160px;
  float: left;
}

.aside h2 {
  margin-top: 0;
}

#examples {
  list-style: none;
  padding: 0;
  margin: 0;
}

#examples li {

}

#examples li a {
  text-decoration: none;
  display: block;
  border-radius: 5px;
  padding: 3px 10px;
  margin-left: -10px;
}

#examples li a:hover {
  background-color: rgba(255,255,255,0.2);
}

#read-more {
  float: right;
  display: block;
  height: 50px;
  line-height: 48px;
  border-radius: 10px;
  color: #EBF5F7;
  background-image: linear-gradient(bottom, rgb(90,120,128) 0%, rgb(100,136,146) 100%);
  background-image: -o-linear-gradient(bottom, rgb(90,120,128) 0%, rgb(100,136,146) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(90,120,128) 0%, rgb(100,136,146) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(90,120,128) 0%, rgb(100,136,146) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(90,120,128) 0%, rgb(100,136,146) 100%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(90,120,128)),
    color-stop(1, rgb(100,136,146))
  );
  padding: 0 20px;
  text-shadow: -1px -1px 0px rgba(0,0,0,0.1);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 24px;
  text-shadow: -1px -1px 0px #415c64;
  box-shadow: inset 0px 0px 5px #415c64;
}

#read-more:active {
  background-image: linear-gradient(bottom, rgb(90,120,128) 100%, rgb(100,136,146) 0%);
  background-image: -o-linear-gradient(bottom, rgb(90,120,128) 100%, rgb(100,136,146) 0%);
  background-image: -moz-linear-gradient(bottom, rgb(90,120,128) 100%, rgb(100,136,146) 0%);
  background-image: -webkit-linear-gradient(bottom, rgb(90,120,128) 100%, rgb(100,136,146) 0%);
  background-image: -ms-linear-gradient(bottom, rgb(90,120,128) 100%, rgb(100,136,146) 0%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(1, rgb(90,120,128)),
    color-stop(0, rgb(100,136,146))
  );
}


