h1 Blog with Transparency, jQuery, Jade and Express

div.content

div.template

  div.index.page
    p Create 
      a(href="/articles/new") a new article

    p List of articles
      ul.articles
        li
          a.title(href="#")

  div.show_article.page
    div.article
      h2.title
      p.body
      div.comments

  div.new_article.page
    p New Article
    form
      input(name="article[title]", type="text", value="Title")
      textarea(name="article[body]", rows="10") Body
      button Cancel
      input(type="submit")
