h1 Blog with Transparency, jQuery, Jade and Express

div.content

div.template

  div.index.page
    p Create 
      a(href="/articles/new") a new article

    p List of available articles
      ul.articles
        li
          a.name

  div.new_article.page
    p New Article
    form
      input(name="article[title]", type="text", value="Title")
      textarea(name="article[body]", rows="10") Body
      button Cancel
      input(type="submit")
