!!!
html
  head
    title Transparency example: Blog
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-1.6.2.min.js')
    script(src='/javascripts/jquery.transparency.min.js')
    script(src='/javascripts/spine.js')
    script(src='/javascripts/ajax.js')
    script(src='/javascripts/route.js')
    script(src='/javascripts/application.js')
  body!= body