!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-1.6.2.min.js')
    script(src='/javascripts/jquery.transparency.min.js')
  body!= body