body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
form {
  width: 500px;
}
.template {
  display: none;
}
input[type=submit] {
  float: right;
}
input[type=text],
textarea {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
